extends ./layouts/app.pug

include ./mixins/app/samples/labels.pug

block main_content
  header
    h1.bsk-page-header BAS Style Kit Testbed
    p.bsk-lead This website is used by developers to test, develop and demonstrate parts of the BAS Style Kit
    div.bsk-alert.bsk-alert-block.bsk-alert-warning.bsk-alert-solid
      | This website is not designed to explain how to use the Style Kit, use the end-user documentation instead
    div.bsk-alert.bsk-alert-block.bsk-alert-warning.bsk-alert-highlight
      p See #[a.bsk-alert-link(href='style-kit.web.bas.ac.uk') style-kit.web.bas.ac.uk] for the latest stable end-user documentation
      p See #[a.bsk-alert-link(href='style-kit-testing.web.bas.ac.uk') style-kit-testing.web.bas.ac.uk] for the latest pre-release (but largely stable) end-user documentation

  section
    header
      h2.bsk-page-header Patterns
      p
        | Patterns are best practice design solutions for specific user-focused tasks and page types. They combine the
        | low level styles, components and interactive elements provided by the Style Kit into higher level solutions.
      p
        | The Testbed provides examples of how each pattern can be used. Guidance to using these patterns is available
        | through the Style Kit Documentation.
    section
      div.bsk-row
        div.bsk-col-12-md-6
          h3 All patterns
          ul
            each pattern in patterns
              li
                if pattern.variants
                  | #{ pattern.title }
                  ul
                    each pattern_variant in pattern.variants
                      li: a(href='/' + testbed_version + '/p/' + pattern_variant.pattern_number + '.html')
                        | #[strong #{ pattern_variant.pattern_number }] &nbsp; #{ pattern_variant.title }
                else
                  a(href='/' + testbed_version + '/p/' + pattern.pattern_number + '.html')
                    | #[strong #{ pattern.pattern_number }] &nbsp; #{ pattern.title }

  section
    header
      h2.bsk-page-header Samples
      p
        | Each part of the Style Kit is represented as one or more #[em samples] which together check Styles and features
        | work correctly in various scenarios and edge cases. Most samples focus on a single CSS class (such as a
        | single button variant), however some test how multiple classes interact together (such as ensuring the cookie
        | notice lines up with navbars).
      p
        | When ran locally, the testbed uses a development build of the Style Kit (locally compilled CSS/JS) to give a
        | short feedback loop when interating new features or fixing bugs. Hosted versions allow changes developed in
        | feature branches, or finished but unreleased in the #[em master] branch, to be reviewed by others.

      div.bsk-alert.bsk-alert-block.bsk-alert-warning.bsk-alert-outline
        ul
          li numbers assigned to samples have no implied order or grouping, they may not be continuous but will be unique
          li some samples are intentionally invalid and expected to fail, experiment samples may not be updated

      div.bsk-alert.bsk-alert-block.bsk-alert-info.bsk-alert-outline
        ul
          li related samples may be listed together in one or more sample collections
          li some samples may not be listed in any sample collections, such as experiments
    section
      div.bsk-row
        div.bsk-col-12-md-6
          h3 All samples
          ul
            each sample in samples
              li
                a(href='/' + testbed_version + '/s/' + sample.sample_number + '.html')
                  strong #{sample.sample_number}
                  | &nbsp;
                  if sample.type == 'removed'
                    +label('danger')
                      | Removed
                    | &nbsp;
                  else if sample.type == 'javascript'
                    span.bsk-label.app-label-sample-type-javascript JavaScript
                    | &nbsp;
                  else if sample.type == 'experiment'
                    span.bsk-label.bsk-label-experimental Experiment
                    | &nbsp;
                  | #{sample.title}
        div.bsk-col-12-md-6
          h3 Sample collections
          ul
            each collection_samples, collection_name in collections
              li: a(href='#sc-' + collection_name) #{collection_name}

          h3 Samples by collection
          each collection_samples, collection_name in collections
            h3.bsk-text-capitalize(id='sc-' + collection_name) #{ collection_name }
            ul
              each sample in collection_samples
                li: a(href='/' + testbed_version + '/s/' + sample.sample_number + '.html')
                  strong #{sample.sample_number}
                  | #{sample.title}

  section#site-feedback
    header.bsk-header: h2 Feedback
    p
      | The BAS Style Kit uses #[a(href='https://trello.com') Trello] to manage development and collecting feedback for
      | all Style Kit components (including this Testbed, templates and documentation) whether positive and negative.
    p
      | As a public open-source project, feedback is welcome from anyone, whether reporting bugs/issues or suggestions
      | for additions/improvements. This project is inheriently related to branding websites as part of the British
      | Antarctic Survey, and therefore some choices are beyond our control.

    p: a.bsk-btn.bsk-btn-primary.bsk-btn-lg.app-spacing-top(href='https://trello.com/b/0Mhzizpk') View Trello Board
