mixin grid--columns(number_of_columns)
  each grid_col in [...Array(number_of_columns - 1).keys()]
    if number_of_columns % (grid_col + 1) == 0
      hr

      p.bsk-text-info #{ number_of_columns / (grid_col + 1) } x #[code bsk-col-#{ number_of_columns }-md-#{ grid_col + 1 }]

      div.bsk-row
        each column_count in [...Array(number_of_columns / (grid_col + 1)).keys()]
          div(class='bsk-col-' + number_of_columns + '-md-' + (grid_col + 1) + ' app-visible-col-' + (column_count + 1) )

  hr

  p.bsk-text-info 1 x #[code bsk-col-#{ number_of_columns }-md-#{ number_of_columns }]

  div.bsk-row
    div(class='bsk-col-' + number_of_columns + '-md-' + number_of_columns + ' app-visible-col-1')
