footer.site-footer.bsk-footer.bsk-footer-default
    div.bsk-row
      div.bsk-col-12-md-6
        | Testbed generated at #[i #{(new Date()).toISOString()}]
      div.bsk-col-12-md-6
        div.bsk-text-right
    div(class=bsk_attributes.container_class)
          a.bsk-back-to-top(href=bsk_attributes.back_to_top_target_href)
            i.fa.fa-fw.fa-chevron-up(aria-hidden='true')
            | Back to top
    div.bsk-footer-divider(role='separator')
    div.bsk-footer-ogl
    div.bsk-footer-policy-links
      | © #{(new Date()).getFullYear()} NERC BAS
      ul.bsk-list-inline
        a.bsk-ogl-symbol(rel='license' href=bsk_attributes.site_footer_ogl_symbol_a_href)
          img(alt='Open Government Licence logo' src=bsk_attributes.site_footer_ogl_symbol_img_href)
        div.bsk-ogl-text This website is licensed under the #[a(href=bsk_attributes.site_footer_ogl_text_href) Open Government Licence #{ bsk_attributes.site_footer_ogl_text_version }], except where otherwise stated
          li: a(href=bsk_attributes.site_footer_policies_cookies_href) Cookies
          li: a(href=bsk_attributes.site_footer_policies_copyright_href) Copyright
          li: a(href=bsk_attributes.site_footer_policies_privacy_href) Privacy
